body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body,
html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

canvas {
  border: black 2px solid;
}

.gameUI {
  position: absolute;
  top: 5vw;
  left: 5vw;
  padding: 10px;
  color: white;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
}

.gameUI * {
  padding: 5px;
}

.gameUI button {
  right: 10%;
  position: absolute;
  background-color: white;
}

.gameUI div {
  display: flex;
  align-items: center;
}

#particleButton {
  background-color: #0075ff;
}

#particleSlider {
  display: block;
  background-color: rgb(60, 60, 60);
}

#ropeSlider {
  display: none;
  background-color: rgb(60, 60, 60);
}

#bombSlider {
  display: none;
  background-color: rgb(60, 60, 60);
}

#clothSlider {
  display: none;
  background-color: rgb(60, 60, 60);
}
#selectSlider {
  display: none;
  background-color: rgb(60, 60, 60);
}

#moveSlider {
  display: none;
  background-color: rgb(60, 60, 60);
}

#mainUI {
  width: 156px;
}

#particleUI {
  width: 95%;
  background-color: rgb(60, 60, 60);
  flex-direction: column;
  align-items: baseline;
  display: none;
}

#particle-Amount-div {
  border: #0075ff 4px solid;
  background-color: rgb(60, 60, 60);
  display: flex;
}

#particle-Amount {
  all: unset;
  width: 30%;
}
